<div class="row">
  <% @posts.each do |post| %>
    <div class="col-3">
      <h4><%= post.author %></h4>

      <% if post.image.present? %>
        <%= image_tag post.image, class: "img-fluid" %>
      <% end %>

      <p><%= post.body %></p>

      <%= button_to "Delete Post", post_path(post), method: :delete, class: "btn btn-danger btn-sm" %>
    </div>
  <% end %>
</div>
